html{
    font-family: Verdana;
}

body{
    margin: 0;
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: 70px 320px 320px;
}

#baner1{
    background-color: #29434E;
    color: white;
    text-align: center;
}

#baner2{
    background-color: #29434E;
    color: white;

    grid-column: 2;
}

#blok1, #blok2{
    background-color: #B0BEC5;
    overflow: scroll;
    
    grid-column: 1 / 3;
    grid-row: 2;
}

#blok2{
    grid-row: 3;
}

#stopka{
    background-color: #546E7A;
    color: white;
    margin: 0;

    grid-column: 1 / 3;
}

.blokFilmu{
    padding: 5px;
    width: 226px;
    height: 280px;
}

h3{
    background-color: #546E7A;
    color: white;
    margin: 0px;
}


h4{
    text-align: center;
    margin: 0px;
}